body{
  color: white;
}
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

#home, #about, #portfolio{
  text-align: center;
  padding: 2em;
}

.technologies{
  width: 75%;
  /* height: 75%; */
  margin: 10px;
}
.tech-text{
  font-size: 1.2em;
}
.mdl-layout-title{
  font-size: 2em;
}
#technology-images, #language-images{
  justify-content: center;
}
.project-card-images{
  width: 100%;
  height: 100%;
}
#project-supporting-text{
  text-align: justify;
}
ul{
  padding-left: 1em;
}
body {
  background-image: url("images/blur-3224650_1920.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h3{
  font-size: 3em;
  margin: 0; 
}
h1{
  font-size: 2.5em;
}
.mdl-card__title{
  /* background-color: #3f51b5; */
  font-size: 20px;
  color: white;
}
#eggbounce-card-title{
  background-color: rgb(25, 147, 25);
}
#mmdl-card-title{
  background-color: rgb(42, 0, 22);
}
#roomojo-card-title{
  background-color: #f66;
}
.checkout-button{
  height: 50px;
}
.mdl-layout__header{
  min-height: 0;
}